/*
*  Table of Contents:
*
*  1. CSS Inits
*  2. Main-Content
*  3. Header & Menu
*  4. home
*  5. Profile

*  6. Resume

*  7. Blog
*  8. Contact
*  9. Media queries
*/


/*
===============================================
--------------- 1. CSS Inits ------------------
===============================================
*/

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    background: #FFF;
    overflow-x: hidden;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.no-marg {
    margin-left: 0;
    margin-right: 0;
}

.no-padd {
    padding-left: 0;
    padding-right: 0;
}

.no-padd-left {
    padding-left: 0;
}

.no-padd-right {
    padding-right: 0;
}

#custumize-style {
    display: none;
}

.section_general {
    margin-left: 4%;
}

.section_separate {
    margin-bottom: 80px;
}

.title-section {
    margin-bottom: 30px;
    margin-left: 15px;
}

.title-section h2.section_title {
    color: #2c383c;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-transform: capitalize;
    background: none !important;
    border: 0;
}

.title-section .sep2 {
    height: 6px;
    width: 50px;
    margin: 20px 0;
}


/*
===============================================
----------------- PRELOADER -------------------
===============================================
*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999999999999;
}

.preloader .spinner {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-animation: rotatee 2.0s infinite linear;
    animation: rotatee 2.0s infinite linear;
}

.preloader .spinner .dot1,
.preloader .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: bouncee 2s infinite ease-in-out;
    animation: bouncee 2s infinite ease-in-out;
}

.preloader .spinner .dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes rotatee {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotatee {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncee {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


/*
===============================================
-------------- 2. Main-Content ----------------
===============================================
*/

.wrapper-content {
    opacity: 0;
}

#main {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 275px;
    background: #fff;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
}


/*#main section.layers {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}
#main section.layers.page_current {
    z-index: 1;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}*/


/* opacity */

#main section.layers {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

#main section.layers.page_current {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

#main section.layers .page_content {
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.layers.page_1 {
    background: #89b32f;
}

.layers.page_2 {
    background: #dc6c5f;
}

.layers.page_3 {
    background: #64b9d2;
}

.layers.page_4 {
    background: #f88c00;
}

.layers.page_5 {
    background: #ff5b24;
}

.layers.page_6 {
    background: #0093d0;
}


/*
===============================================
------------- 3. Header & Menu ----------------
===============================================
*/

#header {
    position: fixed;
    width: 275px;
    z-index: 999999999;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #191818;
    outline: none;
    color: #fff;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    padding: 30px 20px 0 20px !important;
}

#header.active {
    left: 0 !important;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
}

#header #menu_closed {
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

#header #menu_closed i {
    font-size: 20px;
    padding: 10px 12px;
    color: #fff;
    display: inline-block;
}

#header .logo {
    height: 132px;
    width: 132px;
    border: 5px solid #464646;
    overflow: hidden;
    margin: 0 auto 15px;
    opacity: 1;
    margin-bottom: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#header .logo:hover,
.featured-thumbnail:hover {
    opacity: 0.7;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#header .logo a {
    display: block;
    text-align: center;
}

#header .tagline {
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 0;
    color: #9d9d9d;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
}

#header h4.tagline:after {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 1px;
    border-top: 1px solid #323131;
    content: "";
    margin-top: 20px;
}


/*****************************
Navigation
*****************************/

.navigation {
    margin: 35px 0px;
}

.navigation>ul>li {
    position: relative;
}

.navigation>ul>li.has-submenu:after {
    content: "\f105";
    font-family: 'FontAwesome';
    display: inline-block;
    position: absolute;
    color: #7a7e8a;
    right: 15px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    top: 10px;
    visibility: hidden;
}

.navigation>ul>li.active.has-submenu:after,
.navigation>ul>li.has-submenu:hover:after {
    color: #fff;
}

.navigation>ul>li>a {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    padding: 13px 0;
    color: #c8c8c8;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 1px solid #323131;
}

.navigation>ul>li.active>a,
.navigation>ul>li:hover>a {
    color: #fff;
}

.navigation>ul>li:first-child>a {
    border-top: 1px solid #323131;
}

.navigation>ul:hover>li.active>a {
    box-shadow: none;
    color: #fff;
}

.navigation ul li a i {
    margin-right: 6px;
    font-size: 14px;
}


/*** Sub Menu ***/

.navigation ul li ul {
    display: none;
    background-color: #2f2f2f;
}

#header:not(.collapsed) .navigation ul li.active ul {
    display: block;
}

.navigation ul li ul li a {
    padding: 8px 25px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    font-size: 13px;
    border-left: 0px solid #5e6271;
    text-align: left;
    display: block;
}

.navigation ul li ul li a:hover,
.navigation ul li ul li.active a {
    border-left: 5px solid #5e6271;
    color: #5e6271;
}


/* social */

#header .social-ul {
    float: none;
    text-align: center;
}

#header .social-ul ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

#header .social-ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}

#header .social-ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #323131;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#header .social-ul ul li a:hover {
    color: #fff;
}

#header .social-ul ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}

#header .social-ul ul li.social-twitter a:hover {
    background-color: #00acee;
}

#header .social-ul ul li.social-google a:hover {
    background-color: #dd4b39;
}

#header .social-ul ul li.social-facebook a:hover {
    background-color: #3b5998;
}

#header .social-ul ul li.social-pinterest a:hover {
    background-color: #cb2027;
}

#header .social-ul ul li.social-linkedin a:hover {
    background-color: #007bb6;
}

#header .social-ul ul li.social-github a:hover {
    background-color: #171515;
}

#header .social-ul ul li.social-vimeo-square a:hover {
    background-color: #1ab7ea;
}

#header .social-ul ul li.social-dribbble a:hover {
    background-color: #ea4c89;
}

#header .social-ul ul li.social-behance a:hover {
    background-color: #005cff;
}

#header .social-ul ul li.social-soundcloud a:hover {
    background-color: #f70;
}

#header .social-ul ul li.social-foursquare a:hover {
    background-color: #25a0ca;
}

#header .social-ul ul li.social-rss a:hover {
    background-color: #ee802f;
}

#header .social-ul ul li.social-youtube a:hover {
    background-color: #cc181e;
}

#header .social-ul ul li.social-flickr a:hover {
    background-color: #ff0084;
}

#header .social-ul ul li.social-vine a:hover {
    background-color: #00a478;
}


/* Copyright */

#header .copyright {
    margin-top: 20px;
}

#header .copyright p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #9e9f9f;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: capitalize;
    color: #9d9d9d;
}

#header .copyright p a {
    color: #c8c8c8;
    font-weight: bold;
}

#header .copyright p a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#header .copyright:before {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 1px;
    border-top: 1px solid #323131;
    content: "";
}


/* mobile menu */

#wrappers .header-main {
    background-repeat: repeat;
    height: 60px !important;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    margin: 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    z-index: 1041;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    display: none;
    border-bottom: 1px solid #e6e6e6;
    background: rgba(34, 34, 34, 1) !important;
}

#wrappers .content_wrappers {
    width: 100%;
    padding: 0 3%;
}

#wrappers .content_wrappers .logo_wrapper {
    position: relative;
    display: inline-block;
    top: 6px !important;
    margin: 0 auto;
    width: 220px;
    left: 0;
}

#wrappers .content_wrappers .site_title {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    display: inline-block;
    line-height: 1em !important;
    font-size: 24px !important;
    margin: 7px 0 0 0;
    text-align: center;
}

#wrappers .content_wrappers .site_title a {
    line-height: 1em !important;
    font-size: 24px !important;
    margin: 8px 0 0 0;
    text-align: center;
}

#wrappers .content_wrappers .site_title a img {
    max-height: 37px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#wrappers .content_wrappers #btn_open_menu {
    font-size: 31px;
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 9;
}

#wrappers .content_wrappers #btn_open_sidebar {
    font-size: 31px;
    float: left;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    text-decoration: none;
}


/*
===============================================
------------------ 4. Home --------------------
===============================================
*/

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/images-fullscreen/8.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#home_style {
    padding-top: 20px;
    padding-bottom: 54px;
}

.home-profile-image {
    padding: 0 0 0 0;
    margin: 0 auto;
    margin-top: 65px;
    width: 220px;
    height: 220px;
    border: 10px solid rgba(255, 255, 255, 0.4);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.home-profile-image img {
    width: 100%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.image_profile_resp {
    display: none;
}

.image_profile_resp .home_profile_resp img {
    width: 100%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.image_profile_resp .home_profile_resp {
    padding: 0 0 0 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    border: 12px solid rgba(70, 70, 70, 0.1);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-details {
    padding-top: 0;
    text-align: center;
}

.home-details h2.name_users {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 6px;
    font-weight: 700;
    position: relative;
    z-index: 3;
    letter-spacing: 6px;
    line-height: normal;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
}

.home-details h3 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-transform: none;
    font-family: 'Pacifico', cursive;
}

.home-details h3.desc_users {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-transform: none;
    font-family: 'Pacifico', cursive;
}

.home-details hr {
    padding: 0 0 0 0;
    margin: 15px 0 10px 0;
    height: 5px;
    width: 200px;
    background: rgba(251, 251, 251, 0.9);
    display: inline-table;
    border: 0;
}

p.medium {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.home-details .social {
    padding: 0 0 0 0;
    margin: 15px 0 0 0;
    list-style: none;
    text-align: center;
}

.home-details .social li {
    padding: 0 0 0 5px;
    margin: 0 0 0 0;
    display: inline-table;
}

.home-details .social li a {
    margin: 0 0 0 0;
    display: block;
    border: 1px solid #fff;
    font-size: 24px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
}

.home-details .social li:hover a {
    font-size: 24px;
    color: #fff;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}


/*--------------------------------------------------
--------------- words rotate -----------------------
---------------------------------------------------*/

.rw-words {
    display: inline-block;
    min-width: 180px;
    min-height: 29px;
    text-align: left;
    text-indent: 4px;
    margin-left: 10px;
}

.rw-words-1 span {
    position: absolute;
    font-weight: bold;
    opacity: 0;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}

.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .rw-sentence {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .rw-sentence {
        font-size: 9px;
    }
}


/*
===============================================
------------------ 5. Profile --------------------
===============================================
*/

.inner-text {
    padding: 37px;
    margin-bottom: 124.5px;
}

.bg_desc {
    background-color: #f3f0f0;
}

.bg_info {
    color: #fff;
}

.my_profile .image_profile {
    background-image: url(../images/my_image.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 1;
}

.my_profile .image_profile:hover {
    opacity: 1.0;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.my_profile .image_profile:hover {
    background-image: url(../images/my_image2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.my_profile .image_profile .overfly {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    height: 100%;
}

.my_profile .image_profile:hover .overfly {
    background: rgba(0, 0, 0, 0);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.my_profile .info_profile {
    float: right;
}

.my_profile .info_profile h2 {
    font-size: 40px;
    line-height: normal;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.my_profile .info_profile .myjob {
    display: block;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-family: "Open Sans", Arial, sans-serif;
}

.my_profile .info_profile .feature-desc p {
    margin-bottom: 25px;
    font-family: "Lato", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.my_profile .info_profile .signature {
    padding: 30px 0 0 0;
}

.my_profile .info_profile .signature .inner {
    display: inline-block;
    text-align: center;
}

.my_profile .info_profile .signature .inner img {
    width: 140px;
}

.my_profile .info_profile .signature .name {
    display: block;
    margin-top: 15px;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #555;
    text-transform: uppercase;
}

.my_profile .info_profile .inner-text ul li {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
}

.my_profile .info_profile .inner-text ul li.user_name {
    text-transform: capitalize;
}

.my_profile .info_profile .inner-text ul li a {
    color: #fff;
}

.my_profile .info_profile .inner-text ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.my_profile .info_profile .inner-text ul li i {
    margin-right: 5px;
}

.my_profile .info_profile .inner-text ul li strong {
    width: 115px;
    display: inline-block;
    font-weight: normal;
}

.bg_social {
    background-color: #161117;
    padding: 15px 40px;
    text-align: center;
    padding-top: 18px;
}

#profile_social_ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
    margin-right: 15px;
}

#profile_social_ul li a {
    line-height: 25px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#profile_social_ul li a:hover {
    color: #fff;
}

#profile_social_ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}


/*
===============================================
----------------- 6. Resume -------------------
===============================================
*/

#resume {
    background: #fff;
}

#resume .page_content {
    overflow-y: hidden;
    outline: none;
    padding: 20px 0;
}

#resume .title-section {
    margin-left: 0;
}

.title_content {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.text_content {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 5px;
}

#resume .col-md-6 span.duration {
    float: right;
}

#resume .col-md-6 ul li {
    list-style: none;
    margin-top: 20px;
}

#resume .resume-left ul li h5 {
    padding-bottom: 10px;
    color: #444;
    font-weight: bold;
}

#resume .attributes {
    margin-bottom: 30px;
}

#resume .attributes li.first {
    margin-top: 0 !important;
}

#resume .attributes .duration i {
    margin-right: 5px;
}

#resume h5,
#resume h6 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

#resume p {
    color: #7a7c82;
    line-height: 24px;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}

.img_reference {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border: 3px solid #323139;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.img_reference:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 0.7;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.reference p {
    padding-top: 8px;
}

.reference ul {
    margin-top: 15px;
}

.reference ul li {
    margin-top: 30px;
}

.reference ul li:first-child {
    margin-top: 0;
}

.reference span {
    color: #A0A0A0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-transform: capitalize;
}

#resume h6 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}


/*--------------------------------------------------
------------------- Skills bar ---------------------
---------------------------------------------------*/

.all_hobbies {
    margin-bottom: 30px;
}

.skills {
    margin-bottom: 30px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 25px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 25px;
    line-height: 25px;
}

.skillbar-bar {
    height: 25px;
    width: 0;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    /*35*/
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}

a.download {
    float: left;
    color: #ffffff;
    padding: 5px 25px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
}

a.download:hover {
    background: #fff;
}

.hobbies {
    text-align: center;
    display: inline-block;
    width: 24%;
}

.hobbies h6 {
    font-size: 12px;
    font-weight: bold !important;
    text-transform: capitalize;
    color: #999999;
}

.hobbies h6 i {
    font-size: 34px;
    width: 100%;
    margin-bottom: 10px;
}


/* clients */

.clients .img_clients {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border: 3px solid #323139;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.clients .img_clients:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 0.7;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.clients p {
    padding-top: 0;
    color: #7a7c82;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}

.clients div.li-clients {
    border-right-style: dashed;
    border-right-width: 1px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding: 20px;
    border-color: #e1e1e1;
}

.clients div.li-clients:nth-child(even) {
    border-right: 0;
}

.clients div.li-clients.last_clients {
    border-bottom: 0;
}

.clients span {
    color: #A0A0A0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-transform: capitalize;
}

.clients span strong {
    text-transform: capitalize;
}


/*
===============================================
------------------ 7. Blog --------------------
===============================================
*/


/*image animation zoom*/

.image-link {
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.image-link img {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 1;
    filter: alpha(opacity=100);
}

.image-link:hover img {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#blog {
    background: #F1F1F1;
}

#blog .page_content {
    padding: 10px;
}


/*Grid blog*/

.blog-content-grid {
    margin-right: 0;
}

.blog-content-grid .row {
    margin-left: 0;
    margin-right: 0;
}

.blog-content-grid [class*="col-"] {
    padding-left: 6px;
    padding-right: 6px;
}

.blog-content-grid article {
    margin-right: 0;
    margin-bottom: 15px;
    position: relative;
    background-color: #ffffff;
    padding: 0px;
    -webkit-box-shadow: 0 1px 0 0 rgba(125, 125, 125, .15);
    -moz-box-shadow: 0 1px 0 0 rgba(125, 125, 125, .15);
    box-shadow: 0 1px 0 0 rgba(125, 125, 125, .15);
}

.blog-content-grid article img {
    width: 100%;
}

.blog-content-grid article .post-body {
    padding: 20px;
    padding-bottom: 12px;
    padding-bottom: 70px;
}

.blog-content-grid article h3.post-title {
    font-family: 'Merriweather', "Open Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #333333;
    padding: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.blog-content-grid article h3.post-title a {
    color: #333333;
    text-decoration: none;
}

.blog-content-grid article .post-body .post-meta ul {
    text-align: left;
    padding-left: 0;
    list-style: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

.blog-content-grid article .post-body .post-meta ul li {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    color: #9da3a8;
    display: inline-block;
    padding: 0;
    font-weight: 400;
    line-height: 1.6;
}

.blog-content-grid article .post-body .post-meta ul li.separate_li,
.blog-content-grid article .post-body .post-meta ul li:first-child {
    padding: 0;
}

.blog-content-grid article .post-body .post-meta ul li i {
    font-size: 12px;
    margin-right: 5px;
    color: #a3a9b0;
    position: relative;
    top: 1px;
}

.blog-content-grid article .post-content p {
    font-family: "Open Sans", Arial, sans-serif;
    color: #555;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 0 15px 0;
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 1.9em;
    margin-top: 15px;
}

.blog-content-grid article a.read_more_but {
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 24px;
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 100%;
    border: 2px solid #e3e3e3;
    color: #9ba1a8;
    padding: 9px 12px;
}

.blog-content-grid article a.read_more_but:hover {
    color: #fff;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.blog-content-grid article .footer_post ul {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    display: block;
    margin: 0;
}

.blog-content-grid article .footer_post ul li {
    display: inline-block;
    padding: 15px 10px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    margin: 0;
    float: left;
    position: relative;
    z-index: 0;
    font-size: 13px;
    color: #9ba1a8;
    text-transform: capitalize;
}

.blog-content-grid article .footer_post ul li:after {
    z-index: -1;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#12000000', GradientType=0);
    /* IE6-9 */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.blog-content-grid article .footer_post ul li:hover:after {
    height: 100%;
}

.blog-content-grid article .footer_post ul li:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    opacity: 0;
}

.blog-content-grid article .footer_post ul li:before {
    bottom: 0;
    left: 50%;
}

.blog-content-grid article .footer_post ul li:hover:before {
    left: 0;
}

.blog-content-grid article .footer_post ul li:last-child {
    border-right: none;
}

.blog-content-grid article .footer_post ul li i {
    vertical-align: middle;
}

.blog-content-grid article .footer_post ul li:hover:before {
    width: 100%;
    opacity: 1;
}

.blog-content-grid article .footer_post ul li a {
    color: #9ba1a8;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.blog-content-grid article .footer_post ul li i {
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    color: #9da3a8;
    -webkit-transition: all 300ms!important;
    -o-transition: all 300ms!important;
    transition: all 300ms!important;
    position: relative;
    top: -1px;
}

.blog-content-grid article .footer_post ul li i:first-child {
    margin-right: 0;
}

.blog-content-grid article .post-quote {
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog-content-grid article .post-quote .post-inner {
    color: #FFF;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 0;
}

.blog-content-grid article .post-quote .post-inner p {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}

.blog-content-grid article .post-quote .post-inner .author {
    font-size: 13px;
    font-style: italic;
    margin-top: 10px;
    display: block;
    text-align: center;
}


/*pagination*/

.main-pagination {
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-pagination .page-numbers.current,
.main-pagination a:hover {
    color: #fff;
    text-decoration: none;
}

.main-pagination .page-numbers,
.main-pagination a {
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    background: #808080;
    line-height: 25px;
    font-size: 13px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
}

.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.post-meta a.author_post:hover,
.post-meta a.categ_post:hover {
    color: #333333;
    text-decoration: underline;
}


/*
===============================================
---------------- 8. Contact ------------------
===============================================
*/

#map img {
    max-width: none !important;
}

#map {
    display: block;
    width: 100% !important;
    height: 450px !important;
    margin: 0 auto;
}

#map.large {
    height: 500px;
}

.overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 60px;
    line-height: 80px;
    opacity: 0.8;
    background: #4477aa;
    border: solid 3px #336699;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 4px;
}

.overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
}

.overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #336699;
}

.overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #336699;
}

#contentContact .innerpadding #contentContact .innerpadding #contacts_social_ul ul li a {
    background-color: #2E3434;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-twitter a:hover {
    background-color: #00acee !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-google a:hover {
    background-color: #dd4b39 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-facebook a:hover {
    background-color: #3b5998 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-pinterest a:hover {
    background-color: #cb2027 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-linkedin a:hover {
    background-color: #007bb6 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-github a:hover {
    background-color: #171515 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-vimeo-square a:hover {
    background-color: #1ab7ea !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-dribbble a:hover {
    background-color: #ea4c89 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-behance a:hover {
    background-color: #005cff !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-soundcloud a:hover {
    background-color: #f70 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-foursquare a:hover {
    background-color: #25a0ca !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-rss a:hover {
    background-color: #ee802f !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-youtube a:hover {
    background-color: #cc181e !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-flickr a:hover {
    background-color: #ff0084 !important;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-vine a:hover {
    background-color: #00a478 !important;
}

#contentContact .innerpadding h2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    /*font-family: 'Montserrat', 'Open Sans', sans-serif;*/
    margin-bottom: 25px;
    text-transform: uppercase;
}

#contentContact .innerpadding h2:after {
    background: #4D5655;
    content: "";
    display: block;
    height: 3px;
    margin: 15px 0;
    width: 20px;
}

#contentContact .innerpadding .separte-content {
    margin-bottom: 35px;
    border-bottom: 1px solid #4D5655;
    padding-bottom: 20px;
}

#contentContact .innerpadding .contact-info,
#contentContact .innerpadding .contact-form {
    float: none !important;
    margin-bottom: 0 !important;
}

#contentContact .innerpadding ul.info_contact li {
    color: #9E9FA1;
    font-size: 13px;
    line-height: 26px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
}

#contentContact .innerpadding ul.info_contact li span {
    margin-right: 10px;
}

#contentContact .innerpadding ul.info_contact li a {
    color: #9E9FA1;
}

#contentContact .innerpadding ul.info_contact li a:hover {
    text-decoration: none;
}

#mapContainer img {
    max-width: none !important;
}

#mapContainer {
    position: fixed;
    width: 100%;
    width: 80%;
    height: 100%;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#mapContainer #map_canvas #gmaps {
    text-align: center;
    margin-top: 17px;
}

#mapContainer #map_canvas #gmaps img {
    margin-bottom: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 115px;
    width: 115px;
}

#tabs {
    position: absolute;
    z-index: 99;
    width: 0;
    height: 0;
    border-width: 80px 80px 0 0;
    border-style: solid;
    border-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    right: 25%;
    bottom: 150px;
    display: block;
}

#tabs i {
    position: absolute;
    top: -52px;
    left: 28px;
}

#tabs_2 {
    position: absolute;
    z-index: 99;
    width: 0;
    height: 0;
    border-width: 80px 80px 0 0;
    border-style: solid;
    border-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    right: 25%;
    bottom: 150px;
    display: block;
}

#tabs_2 i {
    position: absolute;
    top: -52px;
    left: 28px;
}

#tabs_resp {
    position: absolute;
    z-index: 99;
    width: 0;
    height: 0;
    border-width: 80px 80px 0 0;
    border-style: solid;
    border-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    right: 25%;
    bottom: 150px;
    display: none;
}

#tabs_resp i {
    position: absolute;
    top: -52px;
    left: 28px;
}

img {
    border: 0px;
}

#contentContact {
    padding: 30px 20px 0 20px !important;
    position: fixed;
    left: -350px;
    top: 0px;
    width: 320px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    background: #3B4141;
    color: #FFFFFF;
    z-index: 1001;
}

#contentContact.two {
    width: 350px;
}

#contentContact .innerpadding {
    padding: 80px 20px 0px 20px;
    padding: 0 10px 10px 10px;
}

#contentContact .innerpadding label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #444444;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

#contentContact .innerpadding .btn-cta-contact-2 {
    background-color: #2E3434;
    color: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contentContact .innerpadding .btn-cta-contact-2 i.fa {
    font-size: 14px;
    margin-left: 5px;
}

#contentContact .innerpadding .btn-cta-contact-2:hover {
    color: #fff;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#contentContact .innerpadding .form-control {
    background: #2E3434;
    border: 1px solid #2E3434;
    padding: 7px 14px;
    outline: 0;
    font-size: 12px;
    color: #a6a6a6;
    max-width: 100%;
    margin-top: 12px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px;
    height: 35px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
}

#contentContact .innerpadding textarea.form-control {
    height: 130px;
}

#contentContact .innerpadding .form-group {
    margin-bottom: 0;
}

#contentContact .innerpadding .form-group .form-control {
    padding-left: 30px !important;
    margin-bottom: 20px !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
    margin-top: 0 !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contentContact .innerpadding .form-group i.icon-contact {
    position: absolute;
    left: 25px;
    font-size: 15px;
    z-index: 1;
    top: 10px;
    color: #a3a9b0;
}

#contentContact .innerpadding .form-group #contacts-message i.icon-contact {
    top: 10px !important;
}


/* button colsed in sidebar */

#contentContact .contact_closed {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
    background-color: #2f3434;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#contentContact .contact_closed i {
    font-size: 20px;
    padding: 10px 12px;
    color: #fff;
    display: inline-block;
}

#contentContact .contact_closed:hover {
    background-color: #292d2d;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}


/* ======= contact_social_ul ======= */

#contact_social_ul ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}

#contact_social_ul ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #222;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    border: 1px solid #222;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contact_social_ul {
    float: none;
}

#contact_social_ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}

#contact_social_ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #222;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contact_social_ul ul li a:hover {
    color: #fff;
}

#contact_social_ul ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}

#contact_social_ul ul li.social-twitter a:hover {
    background-color: #00acee !important;
}

#contact_social_ul ul li.social-google a:hover {
    background-color: #dd4b39 !important;
}

#contact_social_ul ul li.social-facebook a:hover {
    background-color: #3b5998 !important;
}

#contact_social_ul ul li.social-pinterest a:hover {
    background-color: #cb2027 !important;
}

#contact_social_ul ul li.social-linkedin a:hover {
    background-color: #007bb6 !important;
}

#contact_social_ul ul li.social-github a:hover {
    background-color: #171515 !important;
}

#contact_social_ul ul li.social-vimeo-square a:hover {
    background-color: #1ab7ea !important;
}

#contact_social_ul ul li.social-dribbble a:hover {
    background-color: #ea4c89 !important;
}

#contact_social_ul ul li.social-behance a:hover {
    background-color: #005cff !important;
}

#contact_social_ul ul li.social-soundcloud a:hover {
    background-color: #f70 !important;
}

#contact_social_ul ul li.social-foursquare a:hover {
    background-color: #25a0ca !important;
}

#contact_social_ul ul li.social-rss a:hover {
    background-color: #ee802f !important;
}

#contact_social_ul ul li.social-youtube a:hover {
    background-color: #cc181e !important;
}

#contact_social_ul ul li.social-flickr a:hover {
    background-color: #ff0084 !important;
}

#contact_social_ul ul li.social-vine a:hover {
    background-color: #00a478 !important;
}


/*
===============================================
------------- 9. Media queries ---------------
===============================================
*/

@media screen and (max-width: 992px) {
    .section_general {
        margin: 0 20px;
    }
    .home-profile-image {
        margin-top: 40px;
    }
    #header {
        left: -320px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }
    #wrappers .header-main {
        display: block;
    }
    #main {
        margin-left: 0;
        margin-top: 60px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }
    #map_canvas {
        height: 100% !important;
        width: 100% !important;
    }
    #contentContact {
        top: 60px;
    }
    #tabs,
    .my_profile .image_profile {
        display: none !important;
    }
    #tabs_resp {
        display: block !important;
    }
    .my_profile .image_profile_resp {
        display: block !important;
        background-color: #f3f0f0;
    }
    #contentContact .contact_closed {
        display: block !important;
    }
    #contentContact {
        top: 60px;
    }
    .single-portfolio .content .content-split {
        border-bottom: 1px solid #E0E0E0;
        border-right: none;
        margin-bottom: 30px;
    }
    .single-portfolio .content {
        margin-bottom: 20px;
    }
    #main section.layers {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    #main section.layers.page_current {
        z-index: 1;
        opacity: 1;
        -webkit-transition: opacity .6s ease-in-out;
        -moz-transition: opacity .6s ease-in-out;
        -o-transition: opacity .6s ease-in-out;
        -ms-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
    }
    .para_serv {
        margin-bottom: 15px;
    }
    .testimonials div.li-testimonials,
    .testimonials div.li-testimonials.last_testimonials,
    .clients div.li-clients,
    .clients div.li-clients.last_clients {
        border: 0;
        border-bottom: 1px dashed #e1e1e1;
    }
    .testimonials div.li-testimonials:last-child,
    .clients div.li-clients:last-child {
        border-bottom: 0;
    }
    .my_profile .info_profile .myjob,
    .my_profile .info_profile h2 {
        text-align: center;
    }
    .services_3 .services_item {
        margin-bottom: 30px;
    }
    .services_3 .services_item:last-child {
        margin-bottom: 0;
    }
    #mapContainer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #portfoliolist .portf_detail {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }
}

@media screen and (max-width: 736px) {
    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper {
        text-align: center;
    }
    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper .fc-page-title-captions {
        display: block;
        vertical-align: middle;
        width: 100%;
        margin: 20px 0 10px 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs ul.breadcrumbs {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        text-align: center;
    }
    .portfolios .grid div.view {
        width: 50% !important;
    }
}

@media screen and (max-width: 490px) {
    .portfolios .grid div.view {
        width: 100% !important;
    }
    .service-content {
        margin-top: 50px;
    }
    #portfoliolist .portf_detail {
        bottom: 20% !important;
    }
    #genre-filter li.label_filter {
        text-align: left;
    }
    #genre-filter li {
        border-top: 1px solid #eaeaea;
        border-left: 0;
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 414px) {
    .home-details h2.name_users {
        font-size: 40px;
    }
    .home-details h3.desc_users {
        font-size: 25px;
    }
    p.medium {
        font-size: 14px;
    }
    .home-profile-image {
        margin-top: 30px;
    }
    .no-padd-left {
        padding-left: 0;
        padding-right: 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 375px) {
    #header .menu_closed {
        display: block !important;
    }
    #contentContact.two {
        width: 100% !important;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        height: 100%;
        padding-bottom: 15px;
    }
    .home-details h2.name_users {
        font-size: 30px;
    }
    .home-details h3.desc_users {
        font-size: 18px;
    }
    p.medium {
        font-size: 12px;
        line-height: 20px;
    }
    .home-profile-image {
        margin-top: 20px;
    }
    .home-details .social li a {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .my_profile .info_profile h2 {
        font-size: 30px;
    }
    .image_profile_resp .home_profile_resp {
        margin-bottom: 0px;
    }
    .bg_desc .inner-text {
        padding-top: 20px;
    }
    .my_profile .info_profile .inner-text ul li strong {
        width: inherit;
    }
    .section-header h3 {
        font-size: 17px;
    }
    .section-header p {
        font-size: 13px;
        margin: 0 0 15px;
    }
    .para_serv {
        margin-bottom: 15px;
    }
    .nav-tabs>li {
        width: 100%;
        margin-bottom: 1px;
        margin-right: 0;
    }
    .testimonials div.li-testimonials,
    .testimonials div.li-testimonials.last_testimonials,
    .clients div.li-clients,
    .clients div.li-clients.last_clients {
        border: 0;
        border-bottom: 1px dashed #e1e1e1;
    }
    .testimonials div.li-testimonials:last-child,
    .clients div.li-clients:last-child {
        border-bottom: 0;
    }
    .no-padd-left {
        padding-left: 0;
        padding-right: 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 240px) {
    .portfolios .view p {
        display: none !important;
    }
}